.backHome .dialog{
    background-color: rgba(176, 224, 230, 0.418);
    padding:10px;
    width:560px;
    border-radius: 4%;
    float:left;
    margin-left:30px;
}
.backHome .content{
    margin-top:40px;
    padding-left:20px;
}
.backHome .content img:hover{
    transform: rotate(666turn);
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(.34, 0, .84, 1)
}
/* .mao{
    width:1700px;
    height:1600px;
    background-image: url('/assets/mao.png');
    background-color: purple;
    background-size: cover;
} */
.dialog{
    font-size:18px;
}